<form method="POST"  action="/course/store">
  <div class="form-group">
    <label for="exampleInputEmail1">name</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"/>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">description</label>
    <input type="text" name="description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"/>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">level</label>
    <input type="text" name="level" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"/>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">videoId</label>
    <input type="text" name="videoId" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"/>
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">slug</label>
    <input type="text" name="slug" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"/>
  </div>
  <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>
